name: Publish

on: workflow_dispatch

jobs:
  build:
    strategy:
      matrix:
        node-version: [14.x, 15.x]

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies
      run: npm ci
    - name: Prepare test environment
      run: npm run pretest
    - name: Run Tests
      run: xvfb-run -a npm test
    - name: Publish
      if: success() && matrix.node-version == '15.x'
      run: npm run deploy
      env:
        VSCE_PAT: ${{ secrets.VSCE_PAT }}
